#NoEnv  ; Recommended for performance and compatibility with future AutoHotkey releases.
; #Warn  ; Enable warnings to assist with detecting common errors.
SendMode Input  ; Recommended for new scripts due to its superior speed and reliability.
SetWorkingDir %A_ScriptDir%  ; Ensures a consistent starting directory.

rpg_companion/target/

rpg_companion/.vscode/
rpg_companion/target/classes/gerenciador/GerenciadorSessao.class
rpg_companion/target/classes/seres/Atributo.class
rpg_companion/target/classes/seres/Ser.class
rpg_companion/target/classes/seres/personagens/Classe.class
rpg_companion/target/classes/seres/personagens/Elemento.class
rpg_companion/target/classes/seres/personagens/Personagem.class
